In [1]:
import pandas as pd
import numpy as np

In [2]:
unchanged = pd.read_excel("panelconversion.xlsx")
unchanged_df = pd.DataFrame(unchanged)

In [3]:
type(unchanged_df.columns)

pandas.core.indexes.base.Index

In [28]:
column_heading = []
entity_val = []
for i in unchanged_df.columns:
    if 'RIL' in str(i):
        result = "_".join(i.split("_")[1:])
        column_heading.append(result)
    result1 = "_".join(str(i).split("_")[:1])
    if result1 not in entity_val:
        entity_val.append(result1)

In [29]:
len(entity_val)

53

In [30]:
entity_val1 = entity_val[1:51]

In [31]:
column_heading2 =  column_heading +['Entity', 'Year']

In [8]:
len(column_heading)

24

In [9]:
len(unchanged_df['year'])

18

In [89]:
year_column = list(unchanged_df['year'])

In [90]:
year_column = year_column * 50

In [91]:
len(year_column)

900

In [13]:
table_to_change = unchanged_df.drop(['year', 0, '0.1'], axis=1)

In [14]:
list_table_to_change = table_to_change.values.tolist()

In [15]:
# original_list = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]

transposed_list_table = list(map(list, zip(*list_table_to_change)))

In [16]:
len(transposed_list_table)

1100

In [75]:
from itertools import chain

matrix2 = []
for k1 in range(22):
    values = []
    for i in range(k1, len(transposed_list_table), 22):
        values.append(transposed_list_table[i])
    flattened_list = list(chain.from_iterable(values))
    matrix2.append(flattened_list)

In [76]:
final_table = list(map(list, zip(*matrix2)))

In [77]:
len(final_table)

900

In [78]:
year_column.append(final_table)

In [79]:
len(year_column)

904

In [96]:
entity_val2 =[]
for values_hell in entity_val1:
    for i in range(18):
        entity_val2.append(values_hell)
print(len(entity_val2))

900

In [81]:
entity_val2.append(year_column)

In [82]:
len(entity_val2)

901

In [83]:
column_heading2 =  column_heading +['Entity', 'Year']

In [85]:
hell = pd.DataFrame(final_table, columns=column_heading)

In [97]:
df = pd.concat([pd.Series(entity_val2, name='Entity'), pd.Series(year_column, name='year'), hell], axis=1)

In [101]:
df.head(30)

,Entity,year,ENVIRON_DISCLOSURE_SCORE,SOCIAL_DISCLOSURE_SCORE,GOVNCE_DISCLOSURE_SCORE,ESG_DISCLOSURE_SCORE,ALTMAN_Z_SCORE,RETURN_COM_EQY,PE_RATIO,TOBIN_Q_RATIO,...,PCT_INDEPENDENT_DIRECTORS,PCT_IND_DIRECTORS_ON_AUDIT_CMTE,NUM_IND_DIR_ON_CMPNSTN_CMTE,PCT_OF_IND_DIRECTORS_ON_NOM_CMTE,CLASSIFIED_BOARD_SYSTEM,PCT_WOMEN_ON_BOARD,BOARD_DURATION,RETURN_ON_ASSET,TOT_DEBT_TO_TOT_ASSET,IS_RD_EXPEND
0,RIL,31-03-2006,35.6600,28.0700,46.4300,36.3600,3.2600,20.4000,11.6700,1.6200,...,58.330,0.000,0.0,0.000,0.0,0.0000,0.0,10.549000,24.1000,1103.40
1,RIL,31-03-2007,47.2900,38.6000,62.5000,48.7600,3.2400,20.2500,16.5000,1.9300,...,58.330,0.000,0.0,0.000,0.0,0.0000,0.0,10.527000,25.3900,3247.00
2,RIL,31-03-2008,47.2900,47.3700,62.5000,50.8300,3.6200,25.4000,16.8700,2.3900,...,61.540,100.000,4.0,100.000,1.0,0.0000,0.0,12.697000,28.9800,3082.40
3,RIL,31-03-2009,47.2900,47.3700,73.2100,53.3100,2.1400,14.4800,14.0900,1.3600,...,61.540,100.000,4.0,100.000,1.0,0.0000,3.0,7.110400,30.9900,3367.40
4,RIL,31-03-2010,47.2900,47.3700,67.8600,52.0700,3.0400,18.6900,13.0500,1.6900,...,53.850,100.000,3.0,100.000,1.0,0.0000,3.0,9.694200,24.9000,3450.40
5,RIL,31-03-2011,47.2900,47.3700,67.8600,52.0700,3.0700,13.0800,16.2000,1.5200,...,53.850,100.000,3.0,100.000,1.0,0.0000,3.0,6.806000,27.3600,5172.10
6,RIL,31-03-2012,46.5100,49.1200,67.8600,52.0700,2.8900,12.1900,11.3500,1.1700,...,53.850,100.000,3.0,100.000,1.0,0.0000,3.0,6.215100,28.2500,9890.00
7,RIL,31-03-2013,59.6900,49.1200,64.2900,58.2600,2.7400,11.8800,10.9100,1.1200,...,53.850,100.000,4.0,100.000,1.0,0.0000,3.0,6.055900,29.5900,11180.00
8,RIL,31-03-2014,56.5900,57.8900,64.2900,58.6800,2.4700,11.8200,12.1600,1.1700,...,57.140,100.000,4.0,100.000,1.0,0.0000,3.0,5.685800,32.3600,12180.50
9,RIL,31-03-2015,46.5100,57.8900,64.2900,53.3100,1.8100,11.3000,10.3100,1.0500,...,53.850,100.000,4.0,100.000,1.0,7.6920,3.0,5.049900,31.8900,12200.00
10,RIL,31-03-2016,47.2900,57.8900,64.2900,53.7200,1.1600,13.2200,10.3500,1.1300,...,61.540,100.000,4.0,100.000,1.0,7.6920,3.0,5.391100,30.1600,12590.00
11,RIL,31-03-2017,27.1300,49.1200,64.2900,40.9100,1.1100,12.0700,13.0400,1.1800,...,57.140,100.000,4.0,100.000,1.0,7.1430,5.0,4.560400,27.6000,14480.00
12,RIL,31-03-2018,48.0600,49.1200,64.2900,52.0700,1.2200,12.9500,14.4800,1.2800,...,57.140,100.000,5.0,100.000,1.0,7.1430,5.0,4.719700,26.8000,18240.00
13,RIL,31-03-2019,48.0600,49.1200,64.2900,52.0700,1.6400,11.6300,20.4000,1.4200,...,57.140,100.000,5.0,100.000,1.0,14.2860,5.0,4.353300,28.6800,23770.00
14,RIL,31-03-2020,46.9900,57.5300,67.0100,54.1000,1.0600,8.9500,13.7400,0.9900,...,56.340,100.000,5.0,100.000,1.0,12.5829,5.0,4.070358,28.8400,21263.12
15,RIL,31-03-2021,47.0400,58.7700,67.3900,54.5100,0.8800,8.1500,13.7500,0.9400,...,56.260,100.000,5.0,100.000,1.0,13.8468,5.0,3.714761,28.8700,22840.82
16,RIL,31-03-2022,47.1000,60.0000,67.7700,54.9200,0.7000,7.3500,13.7600,0.8800,...,56.180,100.000,5.0,100.000,1.0,15.1107,5.0,3.359164,28.9000,24418.52
17,RIL,31-03-2023,47.1600,61.2400,68.1600,55.3300,0.5200,6.5500,13.7700,0.8200,...,56.100,100.000,5.0,100.000,1.0,16.3746,6.0,3.003568,28.9300,25996.22
18,TCS,31-03-2006,0.0000,0.0000,0.0000,0.0000,27.1042,62.6136,31.5924,11.1874,...,0.000,0.000,0.0,0.000,0.0,0.0000,0.0,42.683200,1.3551,320.40
19,TCS,31-03-2007,8.5271,22.8070,42.8571,19.8347,21.7763,56.7399,28.6628,9.4859,...,75.000,0.000,0.0,0.000,0.0,12.5000,0.0,38.652300,3.8430,280.20
20,TCS,31-03-2008,32.5581,43.8596,57.1429,40.9091,13.3021,47.7519,15.7798,4.8207,...,54.550,100.000,2.0,66.670,1.0,9.0900,0.0,32.688000,2.5904,387.80
21,TCS,31-03-2009,41.8605,43.8596,62.5000,47.1074,8.7667,37.7569,10.0420,2.6390,...,54.546,100.000,2.0,66.667,1.0,9.0910,0.0,26.149600,2.4909,489.50
22,TCS,31-03-2010,43.4109,49.1228,73.2143,51.6529,14.3554,41.1039,21.8853,5.9070,...,50.000,100.000,2.0,66.667,1.0,8.3330,0.0,27.984900,0.3769,844.40
23,TCS,31-03-2011,44.9612,49.1228,73.2143,52.4793,21.7758,42.3425,25.5868,7.3435,...,50.000,80.000,2.0,66.667,1.0,8.3330,0.0,30.188900,0.2289,1061.30
24,TCS,31-03-2012,50.3876,43.8596,67.8571,52.8926,15.9905,38.5566,22.0237,5.8216,...,50.000,80.000,2.0,66.667,1.0,8.3330,0.0,28.140200,0.3062,1437.00
25,TCS,31-03-2013,47.2868,43.8596,69.6429,51.6529,18.2335,40.8529,22.1968,6.1730,...,54.546,83.333,2.0,66.667,1.0,9.0910,0.0,29.770200,0.4452,1641.80
26,TCS,31-03-2014,45.7364,52.6316,69.6429,52.8926,23.6399,40.7257,21.8560,6.2602,...,54.546,83.333,2.0,66.667,1.0,0.0000,0.0,31.577100,0.4308,0.00
27,TCS,31-03-2015,44.1860,57.8947,64.2857,52.0661,22.0093,34.8339,25.4606,6.8968,...,54.546,83.333,2.0,50.000,1.0,9.0910,0.0,27.289600,0.4764,0.00
28,TCS,31-03-2016,49.6124,57.8947,64.2857,54.9587,20.9193,37.0640,20.4620,5.6421,...,54.546,83.333,2.0,50.000,1.0,9.0910,0.0,29.122100,0.2686,0.00
29,TCS,31-03-2017,48.0620,71.9298,58.9286,56.1983,21.2912,32.5552,18.2280,4.7099,...,54.546,83.333,2.0,50.000,1.0,9.0910,0.0,26.748300,0.2743,0.00

In [ ]:
df.to_csv("panelconversion_entity.csv")
df.to_excel("panelconversion_entity.xlsx")

In [95]:
len(entity_val2)

901

In [93]:
hell

,ENVIRON_DISCLOSURE_SCORE,SOCIAL_DISCLOSURE_SCORE,GOVNCE_DISCLOSURE_SCORE,ESG_DISCLOSURE_SCORE,ALTMAN_Z_SCORE,RETURN_COM_EQY,PE_RATIO,TOBIN_Q_RATIO,NUMBER_OF_DIRECTORS_ON_BOARD,INDEPENDENT_DIRECTORS,...,PCT_INDEPENDENT_DIRECTORS,PCT_IND_DIRECTORS_ON_AUDIT_CMTE,NUM_IND_DIR_ON_CMPNSTN_CMTE,PCT_OF_IND_DIRECTORS_ON_NOM_CMTE,CLASSIFIED_BOARD_SYSTEM,PCT_WOMEN_ON_BOARD,BOARD_DURATION,RETURN_ON_ASSET,TOT_DEBT_TO_TOT_ASSET,IS_RD_EXPEND
0,35.660000,28.070000,46.430000,36.360000,3.26,20.400000,11.670000,1.620000,0.0,7.0,...,58.330000,0.000000,0.0,0.000000,0.0,0.000000,0.0,10.549000,24.100000,1103.4
1,47.290000,38.600000,62.500000,48.760000,3.24,20.250000,16.500000,1.930000,0.0,7.0,...,58.330000,0.000000,0.0,0.000000,0.0,0.000000,0.0,10.527000,25.390000,3247.0
2,47.290000,47.370000,62.500000,50.830000,3.62,25.400000,16.870000,2.390000,0.0,8.0,...,61.540000,100.000000,4.0,100.000000,1.0,0.000000,0.0,12.697000,28.980000,3082.4
3,47.290000,47.370000,73.210000,53.310000,2.14,14.480000,14.090000,1.360000,0.0,8.0,...,61.540000,100.000000,4.0,100.000000,1.0,0.000000,3.0,7.110400,30.990000,3367.4
4,47.290000,47.370000,67.860000,52.070000,3.04,18.690000,13.050000,1.690000,0.0,7.0,...,53.850000,100.000000,3.0,100.000000,1.0,0.000000,3.0,9.694200,24.900000,3450.4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
895,42.857100,51.666700,62.500000,50.000000,0.00,6.494200,37.175700,1.096600,11.0,7.0,...,70.000000,83.333000,2.0,66.667000,1.0,10.000000,5.0,0.493100,28.571000,0.0
896,49.188287,62.606115,64.448025,56.467293,0.00,13.547287,25.868060,1.168785,10.0,6.0,...,67.183600,89.761714,2.0,76.190714,1.0,7.151533,6.0,1.233060,26.860278,0.0
897,53.693152,67.409152,66.396074,60.422631,0.00,12.405928,27.538502,1.177012,11.0,6.0,...,66.982564,92.032071,2.0,77.381179,1.0,6.526776,6.0,1.187687,28.207738,0.0
898,58.198016,72.212189,68.344122,64.377969,0.00,11.264569,29.208944,1.185238,11.0,6.0,...,66.781527,94.302429,2.0,78.571643,1.0,5.902018,7.0,1.142315,29.555198,0.0
899,62.702881,77.015226,70.292170,68.333307,0.00,10.123210,30.879385,1.193465,11.0,6.0,...,66.580491,96.572786,2.0,79.762107,1.0,5.277261,7.0,1.096942,30.902658,0.0

In [87]:
hell.head()

,ENVIRON_DISCLOSURE_SCORE,SOCIAL_DISCLOSURE_SCORE,GOVNCE_DISCLOSURE_SCORE,ESG_DISCLOSURE_SCORE,ALTMAN_Z_SCORE,RETURN_COM_EQY,PE_RATIO,TOBIN_Q_RATIO,NUMBER_OF_DIRECTORS_ON_BOARD,INDEPENDENT_DIRECTORS,...,PCT_INDEPENDENT_DIRECTORS,PCT_IND_DIRECTORS_ON_AUDIT_CMTE,NUM_IND_DIR_ON_CMPNSTN_CMTE,PCT_OF_IND_DIRECTORS_ON_NOM_CMTE,CLASSIFIED_BOARD_SYSTEM,PCT_WOMEN_ON_BOARD,BOARD_DURATION,RETURN_ON_ASSET,TOT_DEBT_TO_TOT_ASSET,IS_RD_EXPEND
0,35.66,28.07,46.43,36.36,3.26,20.40,11.67,1.62,0.0,7.0,...,58.33,0.0,0.0,0.0,0.0,0.0,0.0,10.5490,24.10,1103.4
1,47.29,38.60,62.50,48.76,3.24,20.25,16.50,1.93,0.0,7.0,...,58.33,0.0,0.0,0.0,0.0,0.0,0.0,10.5270,25.39,3247.0
2,47.29,47.37,62.50,50.83,3.62,25.40,16.87,2.39,0.0,8.0,...,61.54,100.0,4.0,100.0,1.0,0.0,0.0,12.6970,28.98,3082.4
3,47.29,47.37,73.21,53.31,2.14,14.48,14.09,1.36,0.0,8.0,...,61.54,100.0,4.0,100.0,1.0,0.0,3.0,7.1104,30.99,3367.4
4,47.29,47.37,67.86,52.07,3.04,18.69,13.05,1.69,0.0,7.0,...,53.85,100.0,3.0,100.0,1.0,0.0,3.0,9.6942,24.90,3450.4

In [40]:
len(hell)

900

In [41]:
len(year_column)

900

In [143]:
from itertools import chain

onecolumn_values = []
for i1 in range(0, len(transposed_list_table), 22):
    onecolumn_value = transposed_list_table[i1:i1+22]
    onecolumn_values.append(onecolumn_value)

# onecolumn_values_flattened = []
# for values in onecolumn_values:
#     flattened_list = list(chain.from_iterable(values))
#     onecolumn_values_flattened.append(flattened_list)

In [138]:
original_list = [[1, 2], [3, 4], [5, 6], [7, 8], [9, 10], [11, 12], [13, 14], [15, 16], [17, 18]]
sublists = []
for i in range(0, len(original_list), 3):
    sublist = original_list[i:i+3]
    sublists.append(sublist)

print(sublists)

[[[1, 2], [3, 4], [5, 6]], [[7, 8], [9, 10], [11, 12]], [[13, 14], [15, 16], [17, 18]]]

In [140]:
sublists = list(map(list, zip(*sublists)))

In [141]:
from itertools import chain

sublists1 = []
for values in sublists:
    flattened_list = list(chain.from_iterable(values))
    sublists1.append(flattened_list)

In [142]:
sublists1

[[1, 2, 7, 8, 13, 14], [3, 4, 9, 10, 15, 16], [5, 6, 11, 12, 17, 18]]

In [101]:
flattened_list

[1, 2, 3, 4, 5, 6]

In [98]:
sublists[0]

[[1, 2], [3, 4], [5, 6]]

In [188]:
matrix = [
    #TCS, TCS, HDFC,HDFC, YES, YES
    [1, 2, 3, 4, 5, 6],   #year 1
    [7, 8, 9, 10, 11, 12], #year 2
    [13, 14, 15, 16, 17, 18] #year 3
]

# Reshape the matrix to separate the columns into rows

In [189]:
matrix = list(map(list, zip(*matrix)))

In [190]:
matrix2 = []
for k1 in range(2):
    values = []
    for i in range(k1, 6, 2):
        values.append(matrix[i])
    flattened_list = list(chain.from_iterable(values))
    matrix2.append(flattened_list)

In [191]:
np.array(matrix2).transpose()

array([[ 1,  2],
       [ 7,  8],
       [13, 14],
       [ 3,  4],
       [ 9, 10],
       [15, 16],
       [ 5,  6],
       [11, 12],
       [17, 18]])

In [161]:
matrix.transpose(). reshape(1, -1)

array([[ 1,  7, 13,  2,  8, 14,  3,  9, 15,  4, 10, 16,  5, 11, 17,  6,
        12, 18]])

In [162]:
matrix.transpose(). reshape(1, -1).reshape(3, 6)

array([[ 1,  7, 13,  2,  8, 14],
       [ 3,  9, 15,  4, 10, 16],
       [ 5, 11, 17,  6, 12, 18]])