In [1]:
import pandas as pd
import numpy as np

In [2]:
unharmed = pd.read_csv("/Users/gnbhavithran/Python_github/savitha/ESG_2023_name_changed_rounded_off.csv")

*_NO_DIR_ON_BRD

In [3]:
unharmed = pd.DataFrame(unharmed)

In [4]:
len(unharmed.columns)

1353

In [5]:
headers = list(unharmed.columns)

In [133]:
to_change = ["_NO_DIR_ON_BRD", "_NUMBER_OF_DIRECTORS_ON_BOARD", "_IND_DIR", "_CEO_DUALITY", "_BRD_DURN", "_INDEPENDENT_DIRECTORS", "_BOARD_DURATION", "_ADT_RATI", "_AUDITOR_RATIFICATION", "_SHLDR_APROVD_POISON_PILL", "_SHAREHOLDER_APPROVED_POISON_PILL", "_CLSIFIED_BRD_SYSTEM", "CLASSIFIED_BOARD_SYSTEM"]

In [134]:
for values in to_change:
    for i in headers:
        if values in i and "PCT" not in i:
            unharmed[i] = unharmed[i].fillna(0).round()
            unharmed[i].replace(0, np.NAN, inplace = True)

In [135]:
-unharmed["RIL_PCT_IND_DIR"]

0    -58.33
1    -58.33
2    -61.54
3    -61.54
4    -53.85
5    -53.85
6    -53.85
7    -53.85
8    -57.14
9    -53.85
10   -61.54
11   -57.14
12   -57.14
13   -57.14
14   -56.34
15   -56.26
16   -56.18
17   -56.10
Name: RIL_PCT_IND_DIR, dtype: float64

In [136]:
unharmed["RIL_BRD_DURN"]

0     NaN
1     NaN
2     NaN
3     3.0
4     3.0
5     3.0
6     3.0
7     3.0
8     3.0
9     3.0
10    3.0
11    5.0
12    5.0
13    5.0
14    5.0
15    5.0
16    5.0
17    6.0
Name: RIL_BRD_DURN, dtype: float64

In [137]:
unharmed['RIL_ADT_RATI']

0     NaN
1     NaN
2     NaN
3     NaN
4     NaN
5     NaN
6     NaN
7     NaN
8     NaN
9     NaN
10    NaN
11    1.0
12    1.0
13    1.0
14    1.0
15    1.0
16    1.0
17    1.0
Name: RIL_ADT_RATI, dtype: float64

In [138]:
to_remove= ["_ADT_RATI","_AUDITOR_RATIFICATION","_SHLDR_APROVD_POISON_PILL","_SHAREHOLDER_APPROVED_POISON_PILL","_DUAL_CLASS_UNEQUAL_VTG_RTS","_CAPEX_TO_TOT_ASSETS","_CAPEX_TO_TOTAL_ASSETS","_FUND_TOT_ASSETS","_FUND_TOTAL_ASSETS"]

In [140]:
for values in to_remove:
    for val in headers:
        if values in val:
            unharmed.pop(val)

In [143]:
unharmed.to_csv("ESG_2023_name_changed_with_5_colums_removed.csv")

In [144]:
len(unharmed.columns)

1102

In [145]:
unharmed.head()

,Unnamed: 0,year,RIL_EDS,RIL_SDS,RIL_GDS,RIL_ESGDS,RIL_ALTMAN_Z_S,RIL_RTN_COM_EQY,RIL_PE_RATIO,RIL_TOBIN_Q_RATIO,...,YES_PCT_INDEPENDENT_DIRECTORS,YES_PCT_IND_DIRECTORS_ON_AUDIT_CMTE,YES_NUM_IND_DIR_ON_CMPNSTN_CMTE,YES_PCT_OF_IND_DIRECTORS_ON_NOM_CMTE,YES_CLASSIFIED_BOARD_SYSTEM,YES_PCT_WOMEN_ON_BOARD,YES_BOARD_DURATION,YES_RETURN_ON_ASSET,YES_TOT_DEBT_TO_TOT_ASSET,YES_IS_RD_EXPEND
0,0,31-03-2006,35.66,28.07,46.43,36.36,3.26,20.40,11.67,1.62,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,31-03-2007,47.29,38.60,62.50,48.76,3.24,20.25,16.50,1.93,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2,31-03-2008,47.29,47.37,62.50,50.83,3.62,25.40,16.87,2.39,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3,31-03-2009,47.29,47.37,73.21,53.31,2.14,14.48,14.09,1.36,...,66.67,NaN,NaN,NaN,NaN,NaN,NaN,NaN,11.2769,NaN
4,4,31-03-2010,47.29,47.37,67.86,52.07,3.04,18.69,13.05,1.69,...,75.00,NaN,NaN,NaN,NaN,12.5,NaN,1.6117,13.3941,NaN

In [147]:
unharmed.to_excel("ESG_2023_name_changed_with_5_colums_removed.xlsx")