In [72]:
import pandas as pd
import numpy as np

In [73]:
company_name = ["RIL","TCS","HDFCB","HUVR","HDFC","ITC","KMB","ICICIBC","INFO","SBIN","BAF","MSIL","AXSB","LT","BHARTI","ONGC","APNT","HCLT","WPRO","NEST","IOCL","BJFIN","COAL","NTPC","UTCEM","TTAN","BPCL","SUNP","PWGR","BJAUT","IIB","ADSEZ","BRIT","MM","TECHM","GAIL","EIM","TTMT","VEDL","JSTL","HMCL","GRASIM","DRRD","UPLL","TATA","HNDL","CIPLA","BHIN","Z","YES",]

In [74]:
unharmed = pd.read_csv("/Users/gnbhavithran/Downloads/ESG. 2023 - Copy.csv", header = None)
unharmed = pd.DataFrame(unharmed)

In [75]:
only_data = unharmed[3:]

In [76]:
only_data.shape

(18, 1351)

In [77]:
unharmed.head()

,0,1,2,3,4,5,6,7,8,9,...,1341,1342,1343,1344,1345,1346,1347,1348,1349,1350
0,NaN,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,RIL IN Equity,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,year,RIL_EDS,RIL_SDS,RIL_GDS,RIL_ESGDS,RIL_ALTMAN_Z_S,RIL_RTN_COM_EQY,RIL_PE_RATIO,RIL_TOBIN_Q_RATIO,RIL_NO_DIR_ON_BRD,...,SHAREHOLDER_APPROVED_POISON_PILL,DUAL_CLASS_UNEQUAL_VTG_RTS,CLASSIFIED_BOARD_SYSTEM,PCT_WOMEN_ON_BOARD,BOARD_DURATION,RETURN_ON_ASSET,CAPEX_TO_TOTAL_ASSETS,FUND_TOTAL_ASSETS,TOT_DEBT_TO_TOT_ASSET,IS_RD_EXPEND
3,31-03-2006,35.66,28.07,46.43,36.36,3.26,20.40,11.67,1.62,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,31-03-2007,47.29,38.60,62.50,48.76,3.24,20.25,16.50,1.93,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [78]:
unharmed_lis = list(unharmed)

In [79]:
len(unharmed_lis)

1351

In [80]:
title = unharmed.iloc[2]

In [81]:
starting_point = 55
title[81]

'IS_RD_EXPEND'

In [82]:
for i in range(2 , 50):
    for j in range(27):
        title[starting_point] = company_name[i] + '_' +  title[starting_point]
        starting_point += 1

In [85]:
title[109]

'HDFC_ENVIRON_DISCLOSURE_SCORE'

In [86]:
for_tcs_start = 40
end_tcs = 55

In [87]:
title[40]

'PCT_INDEPENDENT_DIRECTORS'

In [88]:
for k in range(40, 55):
    title[k] = company_name[1] + "_" + title[k]

In [91]:
title[54]

'TCS_IS_RD_EXPEND'

In [92]:
title[0]

'year'

In [93]:
only_data.head()

,0,1,2,3,4,5,6,7,8,9,...,1341,1342,1343,1344,1345,1346,1347,1348,1349,1350
3,31-03-2006,35.66,28.07,46.43,36.36,3.26,20.40,11.67,1.62,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,31-03-2007,47.29,38.60,62.50,48.76,3.24,20.25,16.50,1.93,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,31-03-2008,47.29,47.37,62.50,50.83,3.62,25.40,16.87,2.39,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,31-03-2009,47.29,47.37,73.21,53.31,2.14,14.48,14.09,1.36,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,11.2769,NaN
7,31-03-2010,47.29,47.37,67.86,52.07,3.04,18.69,13.05,1.69,NaN,...,NaN,NaN,NaN,12.5,NaN,1.6117,NaN,NaN,13.3941,NaN

In [107]:
only_data_1 = only_data.values. tolist()

In [108]:
len(only_data_1[0])

1351

In [109]:
only_data_1 = pd.DataFrame(only_data_1, columns=title)

In [110]:
only_data_1.head()

2,year,RIL_EDS,RIL_SDS,RIL_GDS,RIL_ESGDS,RIL_ALTMAN_Z_S,RIL_RTN_COM_EQY,RIL_PE_RATIO,RIL_TOBIN_Q_RATIO,RIL_NO_DIR_ON_BRD,...,YES_SHAREHOLDER_APPROVED_POISON_PILL,YES_DUAL_CLASS_UNEQUAL_VTG_RTS,YES_CLASSIFIED_BOARD_SYSTEM,YES_PCT_WOMEN_ON_BOARD,YES_BOARD_DURATION,YES_RETURN_ON_ASSET,YES_CAPEX_TO_TOTAL_ASSETS,YES_FUND_TOTAL_ASSETS,YES_TOT_DEBT_TO_TOT_ASSET,YES_IS_RD_EXPEND
0,31-03-2006,35.66,28.07,46.43,36.36,3.26,20.40,11.67,1.62,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,31-03-2007,47.29,38.60,62.50,48.76,3.24,20.25,16.50,1.93,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,31-03-2008,47.29,47.37,62.50,50.83,3.62,25.40,16.87,2.39,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,31-03-2009,47.29,47.37,73.21,53.31,2.14,14.48,14.09,1.36,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,11.2769,NaN
4,31-03-2010,47.29,47.37,67.86,52.07,3.04,18.69,13.05,1.69,NaN,...,NaN,NaN,NaN,12.5,NaN,1.6117,NaN,NaN,13.3941,NaN

In [98]:
len(only_data_1)

2

In [116]:
type(only_data_1)

pandas.core.frame.DataFrame

In [117]:
only_data_1.to_csv("/Users/gnbhavithran/Downloads/ESG_2023_name_changed.csv")

In [118]:
only_data_1.to_excel("/Users/gnbhavithran/Downloads/ESG_2023_name_changed.xlsx")