In [3]:
import os
import time
import math
import numpy as np
import pandas as pd

In [4]:
def excel_file_reader(excel_file, sheet_names):
    df = {}
    for sheet_name in sheet_names:
        df[sheet_name] = pd.read_excel(excel_file, sheet_name=sheet_name, header=None)
    return df

In [5]:
def pivoit_table(list_table_to_change, column_count):
    transposed_list_table = list(map(list, zip(*list_table_to_change)))
    from itertools import chain

    matrix2 = []
    for k1 in range(column_count):
        values = []
        for i in range(k1, len(transposed_list_table), column_count):
            values.append(transposed_list_table[i])
        flattened_list = list(chain.from_iterable(values))
        matrix2.append(flattened_list)
    final_table = list(map(list, zip(*matrix2)))
    return final_table

In [6]:
def company_name_creator(company_list, year_count):
    company_list_new =[]
    for values_hell in company_list:
        for i in range(year_count):
            company_list_new.append(values_hell)
    print(len(company_list_new))
    return company_list_new

In [283]:
savitha_1_path = "02_09_23/savita.xlsx"
sheet_names = ['Sheet3','Sheet4']
savitha1 = excel_file_reader(savitha_1_path, sheet_names)
savitha_2_path = "02_09_23/savita 2.xlsx"
sheet_names = ['Sheet2', 'Sheet4', 'Sheet6']
savitha2 = excel_file_reader(savitha_2_path, sheet_names)

In [284]:
remove_word = " IN Equity"
DAtes = savitha1['Sheet4'].iloc[3:, 0]
Total_companies_count = 1086
Dates = pd.to_datetime(DAtes).dt.date.astype(str).tolist()
Dates = Dates * Total_companies_count
Dates = pd.DataFrame(Dates, columns=['Dates'])
columns_1 = savitha1['Sheet4'].iloc[2, 1:15].values.tolist()
selected_data = savitha1['Sheet4'].iloc[3:, 1:]
companies = [company[0].replace(remove_word, "") for company in savitha1['Sheet3'].values]

In [285]:
savitha1_paneled_list = selected_data.values.tolist()
savitha1_paneled_list = pivoit_table(savitha1_paneled_list, 14)
savitha1_paneled_list = pd.DataFrame(savitha1_paneled_list, columns=columns_1)

In [286]:
columns_2 = savitha2['Sheet2'].iloc[5, 4:16].values.tolist()
selected_data_2_sheet2 = savitha2['Sheet2'].iloc[6:27, 4:]

In [287]:
savitha2_paneled_list_sheet2 = selected_data_2_sheet2.values.tolist()
savitha2_paneled_list_sheet2 = pivoit_table(savitha2_paneled_list_sheet2, 12)
savitha1_paneled_list_sheet2 = pd.DataFrame(savitha2_paneled_list_sheet2, columns=columns_2)

In [288]:
columns_3 = savitha2['Sheet4'].iloc[21, 8:18].values.tolist()
selected_data_2_sheet4 = savitha2['Sheet4'].iloc[22:43, 8:]

In [289]:
savitha2_paneled_list_sheet4 = selected_data_2_sheet4.values.tolist()
savitha2_paneled_list_sheet4 = pivoit_table(savitha2_paneled_list_sheet4, 10)
savitha1_paneled_list_sheet4 = pd.DataFrame(savitha2_paneled_list_sheet4, columns=columns_3)

In [290]:
columns_4 = savitha2['Sheet6'].iloc[5, 4:10].values.tolist()
selected_data_2_sheet6 = savitha2['Sheet6'].iloc[6:27, 4:]

In [291]:
savitha2_paneled_list_sheet6 = selected_data_2_sheet6.values.tolist()
savitha2_paneled_list_sheet6 = pivoit_table(savitha2_paneled_list_sheet6, 6)
savitha1_paneled_list_sheet6 = pd.DataFrame(savitha2_paneled_list_sheet6, columns=columns_4)

In [295]:
companies_new = company_name_creator(companies, 21)

22806

In [299]:
pivoit_table = pd.concat([Dates, companies_new, savitha1_paneled_list, savitha1_paneled_list_sheet2, savitha1_paneled_list_sheet4, savitha1_paneled_list_sheet6], axis=1)

In [302]:
pivoit_table.to_excel("02_09_23/panel_data_savi_1_2.xlsx", index=True)

In [303]:
pivoit_table.to_csv("02_09_23/panel_data_savi_1_2.csv", index=True)

In [8]:
savitha_4_path = "02_09_23/savita 4.xlsx"
sheet_names = ['Sheet2', 'Sheet3','Sheet6']
savitha4 = excel_file_reader(savitha_4_path, sheet_names)

In [9]:
Dates_1 = savitha4['Sheet2'].iloc[6:27, 3]
Dates_1 = pd.to_datetime(Dates_1).dt.date.astype(str).tolist()
Dates_1 = Dates_1 * 2498
Dates_1 = pd.DataFrame(Dates_1, columns=['Dates'])

In [10]:
Dates_1

            Dates
0      2003-03-31
1      2004-03-31
2      2005-03-31
3      2006-03-31
4      2007-03-31
...           ...
52453  2019-03-31
52454  2020-03-31
52455  2021-03-31
52456  2022-03-31
52457  2023-03-31

[52458 rows x 1 columns]

In [11]:
remove_word = " IN Equity"
companies_list = pd.DataFrame(savitha4['Sheet2'].iloc[:, 0])
companies_1 = [company[0].replace(remove_word, "") for company in companies_list.values]

In [12]:
columns_4_1 = savitha4['Sheet3'].iloc[5, 4:8].values.tolist()
selected_data_4_sheet3 = savitha4['Sheet3'].iloc[6:27, 4:]

In [13]:
columns_4_1

['ENVIRON_DISCLOSURE_SCORE',
 'SOCIAL_DISCLOSURE_SCORE',
 'GOVNCE_DISCLOSURE_SCORE',
 'ESG_DISCLOSURE_SCORE']

In [14]:
savitha4_paneled_list_sheet3 = selected_data_4_sheet3.values.tolist()
savitha4_paneled_list_sheet3 = pivoit_table(savitha4_paneled_list_sheet3, 4)
savitha4_paneled_list_sheet3 = pd.DataFrame(savitha4_paneled_list_sheet3, columns=columns_4_1)

In [15]:
columns_4_2 = savitha4['Sheet6'].iloc[5, 4:9].values.tolist()
selected_data_4_sheet6 = savitha4['Sheet6'].iloc[6:27, 4:]

In [16]:
columns_4_2

['RETURN_ON_ASSET',
 'RETURN_COM_EQY',
 'ALTMAN_Z_SCORE',
 'TOBIN_Q_RATIO',
 'NET_OPER_PROFIT_AFTER_TAX']

In [17]:
savitha4_paneled_list_sheet6 = selected_data_4_sheet6.values.tolist()
savitha4_paneled_list_sheet6 = pivoit_table(savitha4_paneled_list_sheet6, 5)
savitha4_paneled_list_sheet6 = pd.DataFrame(savitha4_paneled_list_sheet6, columns=columns_4_2)

In [18]:
companies_new_1 = company_name_creator(companies_1, 21)
companies_new_1 = pd.DataFrame(companies_new_1, columns=['Company'])

52458

In [27]:
pivioted_table_4 = pd.concat([Dates_1, companies_new_1, savitha4_paneled_list_sheet3, savitha4_paneled_list_sheet6], axis=1)

In [20]:
pivioted_table_4.to_excel("02_09_23/panel_data_savi_4.xlsx", index=True)
pivioted_table_4.to_csv("02_09_23/panel_data_savi_4.csv", index=True)

In [34]:
pivioted_table_4

,Dates,ENVIRON_DISCLOSURE_SCORE,SOCIAL_DISCLOSURE_SCORE,GOVNCE_DISCLOSURE_SCORE,ESG_DISCLOSURE_SCORE,RETURN_ON_ASSET,RETURN_COM_EQY,ALTMAN_Z_SCORE,TOBIN_Q_RATIO,NET_OPER_PROFIT_AFTER_TAX
0,2003-03-31,NaN,NaN,NaN,NaN,6.6316,13.6836,1.9182,1.1260,44646.6926
1,2004-03-31,NaN,NaN,NaN,NaN,7.6018,15.7704,2.4134,1.5575,52242.3450
2,2005-03-31,NaN,NaN,NaN,NaN,9.9542,20.0450,2.5853,1.4304,75091.1009
3,2006-03-31,32.5883,11.8501,68.0012,37.5214,10.5490,20.4039,3.2640,1.6174,93842.3959
4,2007-03-31,40.2597,17.0496,71.4931,42.9735,6.5517,13.4590,2.6445,1.8288,103826.5956
...,...,...,...,...,...,...,...,...,...,...
52453,2019-03-31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
52454,2020-03-31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
52455,2021-03-31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
52456,2022-03-31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
52457,2023-03-31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN